/* *{
  background: #000;
} */
body{
  margin: 0px;
  padding: 0px;
}

.twitter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  background-color: #00abeeb9;
}

.page-header{
  background-color: #000000;
  height: 70px;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.page-header .logo{
  font-size: 35px;
  color: #ffffff;
  padding-top:40px ;
}
.page-header .search-bar{
  color: #ffff;
  margin-left: 900px;
  margin-top: 40px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #ffffff;

}

.brandName{
  font-family: Helvetica, sans-serif  ;
  color:  #ffffff;
  font-size: 40PX;
  padding: 10px;
  padding-left: 10px;
}

.post{
  /* border: 1px solid black; */
  border-radius: 20px;
  width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 20px 2px rgba(3, 57, 61, 0.541);
}

.post .post-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post .profilePhoto{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post .image{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post .post-footer{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}